<div class="container" style="padding: 10px;">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="col-6">
                <mat-card>
                    <div class="row">
                        <img src="../../assets/map 1.png">
                    </div>
                    <div class="row">
                        <mat-card-content style="position: relative; justify-content: center;">
                            <h1 style="margin-left: 230px;">
                                Fort Worth TX
                            </h1>
                            <h2 style="margin-left: 200px;">
                                <div>5000, Sycamore School Rd,</div>
                                <div> Fort Worth TX 76123</div>
                                <div> 682-647-5739</div>
                            </h2>
                        </mat-card-content>
                        <div>
                            <img class="imge" src="../../assets/2 star.png">
                        </div>
                        <mat-card-footer style="padding: 0px;">
                            <button mat-button (click)="go()"
                                style="margin-left: 17px; background-color: rgb(201, 7, 72);width: 100%; color: white;">
                                <mat-icon>
                                    date_range
                                </mat-icon>
                                Book Now
                            </button>
                        </mat-card-footer>
                    </div>
                </mat-card>
            </div>
            <div class="col-6">
                <mat-card>
                    <div class="row">
                        <img src="../../assets/map 2.png">
                    </div>
                    <div class="row">
                        <mat-card-content>
                            <h1 style="margin-left: 230px;">
                                Frisco TX
                            </h1>
                            <h2 style="margin-left: 200px;">
                                <div>2995, El Dorado Parkway,</div>
                                <div> Frisco TX 75033</div>
                                <div> 214-833-9655</div>
                            </h2>
                        </mat-card-content>
                        <div>
                            <img class="imge" src="../../assets/3 star.png">
                        </div>
                        <mat-card-footer style=" padding:0px;">
                            <button mat-button (click)="go()"
                                style="margin-left: 17px; background-color: rgb(201, 7, 72);width:100%; color: white;">
                                <mat-icon>
                                    date_range
                                </mat-icon>
                                Book Now
                            </button>
                        </mat-card-footer>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>